{% extends "TwigBundle::layout.html.twig" %}




{% block body %}
Hello {% if name is defined %}
 {{ name }}
{% endif %}!

{% if form is defined %}
<p>Upload a file, save and compress it!</p>

{% if message is defined %}
 {{ message }}
{% endif %}

{{ form(form) }}
{% endif %}
{% endblock %}